<h1>Create a new list</h1>

<div class="column">
<p class="createwarn">Please add an existing series to <%= SITE_NAME %> <b><i>only</i></b> if you are the <b><i>actual organiser</i></b> of the series, or have first <i>asked their permission</i>. <%= SITE_NAME %> will show <i>you</i> as the contact person for this list, given as a link to <%= link_to "your #{SITE_NAME} profile", user_url(:id => User.current.id) %>.</p>
</div>
