Copy and paste this URL into an email (note that anyone with this URL can make a request!):<br/>
<span id='talk_post_url'><%= link_to @url, @url %></span>&nbsp;&nbsp;&nbsp;<%= link_to "[Generate a new one]", @generate_path, :remote => true, :method => :post %>

