<div class='help'>
	<% forthcoming_talks = @list.talks.find(:all,:conditions => ['start_time > NOW()'], :order => 'start_time ASC', :limit => 10) %>
	<% unless forthcoming_talks.empty? %>
	<p>For reference, these are the forthcoming dates of talks in this list:</p>
	<ul>
	<% forthcoming_talks.each do |talk| %>
		<li><%= talk.date_string %> <%= talk.title[0...20] %>...</li>
	<% end %>
	</ul>
	<% end %>	
	<p>Please enter the date of the talk in the form YYYY/MM/DD, e.g. 2007/12/13.</p>

</div>

