<%= link_to image_tag(HOST_INSTITUTE_LOGO, :alt => HOST_INSTITUTE, :class => 'logo'), HOST_INSTITUTE_URL %>
<%= link_to image_tag(SITE_LOGO_LARGE, :alt => SITE_NAME, :class => 'logo'), home_url %>

<div class='fullwidthlinks'>

<%= render 'shared/user_information' %>

<%= render 'shared/help'%>

</div>
