<div class="toolbar topbar">
  <ul>
    <%= with_content_tag 'li', add_talk_to_list_button %>
    <li><%= vcal_button %></li>
    <% if User.current %>
    <li><%= tell_a_friend_button %></li>
    <% end %>
    <li><%= contact_organizer_button %></li>
  </ul>
</div>
