<!-- breadcrumbs -->

<div id="bread">
<p><!--<a href="http://www.cam.ac.uk/">University of Cambridge</a>&nbsp;&gt;&nbsp;--><%= link_to SITE_NAME, home_url %><%= mybreadcrumbs.html_safe %></p>
</div>
<!-- end breadcrumbs -->
