<div class="span4">
  <h2><%= link_to 'Your picks', list_path(:id => User.current.personal_list) %></h2>
  <div class='vevent simpletalk click effect2'>
    <%= link_to 'Add a new talk', list_details_path(:action => 'choose'), :class => "btn btn-large btn-block" %>
  </div>
  <%= render :partial => 'show/simple_talk', :collection => @talks %>
</div>
<div class="span4">
  <h2>Most popular</h2>
</div>
<div class="span4">
  <h2>Staff's picks</h2>
  <%= render :partial => 'show/simple_talk', :collection => @featured_talks %>
</div>
