<h1>Recently Changed Documents</h1>

<ul>
	<% for version in @versions %>
		<li><%= version.updated_at.to_formatted_s(:short) rescue "nil" %> <%= link_to version.name, document_revision_path(version.name, version.version) %> by <%= User.find(version.user_id).email rescue "<i>unknown</i>" %></li>
	<% end %>
</ul>
