<% for link in @links %>
<li>
<%= link_list_or_talk link.child %>
<%= link_to '(remove)', list_or_talk_association_path(link), :method => :delete, :remote => true, :data => {:target => '#children'}, :rel => 'receive-html' %></li>
<% end %>
