<% if request.xhr? %>
<%= show_flash %>
<% end %>
<table>
	<% for list in @lists.sort_by { |list| list.name } %>
	<tr>
		<td>
			<% unless @child == list %>
				<%= check_box "add_to_list", list.id, { :checked =>  @parents.include?(list) }, 'add', 'remove' %>
			<% end %>
		</td>
	<td><%= label "add_to_list", list.id, list.name %></td></tr>
	<% end %>
</table>
<script>
(function($) {
$('#include-list-form').talks('observe_form');
})(jQuery);
</script>
