
<div class='listdetail click'>
	<%= link_to logo(@list, :medium), list_details_url( :id => @list ) %>
<h1><%= link_list @list %></h1>



<%= @list.details_filtered ? @list.details_filtered.html_safe : nil %>

<!-- <%= auto_discovery_link_tag(:rss, {:action => "rss", :id => @list}) %> -->
</div>
