<div class='index'>
<% @errors.each do |error| %>
<span class='error'>Error: <%=error%>. </span>
<% end %>
<% if @list_details %>
	<%= render :partial => 'list_details'%>
<% end %>


<%= render :partial => 'simple_talk', :collection => @talks %>

<p>If you have a question about this list, please contact: <%= @list.users.map {|user| link_user( user ) }.join('; ').html_safe %>.  If you have a question about a specific talk, click on that talk to find its organiser.</p>
</div>
