<h1><%= @document.name.titlecase %></h1>
<% if User.current %>
	<p class='actions'>
		<% if !@document.administrator_only? || User.current.administrator? %>
			<%= link_to 'Edit', :action => 'edit', :name => @document.name %>
		<% end %>
	</p>
<% end %>

<%= @document.html.html_safe %>

